* {
  font-family: "Open Sans";
}

a {
  color: #A9B8C3;
  &:hover {
    font-weight: bold;
    color: #083451;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pageTitle {
  background-image: url(../assets/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 525px;
  img {
    position: relative;
    top: 18px;
    left: 8.7em;
  }
  h3 a {
    position: relative;
    left: 12.4em;
    bottom: 39px;
    font-size: 16px;
    color: #083451;
    font-weight: lighter;
  }
  a {
    text-decoration: none;
  }
  h3 a:hover {
    color: white;
  }
}

nav {
  background-image: url(../assets/search-icon.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
  position: relative;
  float: left;
  left: 64em;
  bottom: 5.5em;
  text-decoration: none;
  font-family: "Oswald";
  a {
    color: #083451;
    text-decoration: none;
    font-family: "Oswald";
    font-size: 18px;
    padding-right: 5px;
    &:hover {
      color: white;
      font-weight: bolder;
      color: white;
      font-weight: bolder;
    }
  }
}

#title {
  position: relative;
  left: 2.7em;
  top: 40px;
  font-size: 6em;
  color: white;
  font-weight: 500;
  word-spacing: 2px;
}

#subTitle {
  position: relative;
  left: 38.8em;
  bottom: 40px;
  font-size: 14px;
  color: #083451;
  font-weight: 700;
  word-spacing: 1px;
}

main {
  position: relative;
  float: left;
  width: 60%;
  height: 1100px;
}

#fantastic {
  position: relative;
  top: 1px;
  margin-left: 3.6em;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 62px;
  color: #083452;
  line-height: 70px;
  word-spacing: 4px;
}

article img {
  width: 2.5%;
  position: relative;
  left: 14.4em;
  bottom: 54px;
}

#name {
  position: relative;
  left: 19.6em;
  bottom: 58px;
  font-size: 12px;
  text-decoration: none;
  color: #106DB3;
}

.articleTitle > span {
  font-size: 13px;
  position: relative;
  left: 19em;
  bottom: 56.7px;
  color: #BAC6CF;
  float: none;
}

#date {
  position: relative;
  font-size: 13.3px;
  left: 18.6em;
  bottom: 54.7px;
  color: #BAC6CF;
  word-spacing: 1px;
  &:hover {
    color: #083451;
    font-weight: bolder;
  }
}

article > p {
  position: relative;
  bottom: 39px;
  padding-left: 14.1em;
  padding-right: 2em;
  line-height: 26px;
}

#secondP {
  padding-top: 12px;
}

blockquote {
  border-left: 2px solid #ccc;
  margin-left: 14.5em;
  position: relative;
  bottom: 34px;
  h1 {
    font-size: 28px;
    font-weight: 400;
    color: #106DB3;
    position: relative;
    left: .6em;
    padding-top: 5px;
    padding-bottom: 5px;
    word-spacing: -3px;
  }
}

.share {
  list-style-type: none;
  margin-left: 11.8em;
  position: relative;
  bottom: 49px;
  li {
    display: inline;
    img {
      background-color: #5E686F;
      border: 1px solid #5E686F;
    }
    a {
      text-decoration: none;
      background-color: #A3B3BF;
      color: white;
      font-size: 12.5px;
      font-weight: lighter;
      padding: 5.2px 13px 5px 12px;
      margin-right: 1.1em;
      border: 1px solid #A3B3BF;
    }
    &:hover {
      a {
        background-color: #106DB3;
        border: 1px solid #106DB3;
      }
      img {
        background-color: #083452;
        border: 1px solid #083452;
      }
    }
  }
}

#comments img {
  position: relative;
  top: 9.3px;
  padding: 6.3px;
  right: -1px;
  cursor: pointer;
}

#upload img {
  position: relative;
  top: 8.3px;
  padding: 7.4px;
  right: -1px;
  cursor: pointer;
}

#share img {
  position: relative;
  top: 9.3px;
  padding: 7.3px;
  right: -1px;
  cursor: pointer;
}

.sideBar {
  width: 25%;
  float: left;
}

#sidebarAvatar {
  position: relative;
  left: 10em;
  top: 85px;
}

.sideBar img:hover {
  transform: scale(1.1);
}

aside > #profile {
  position: relative;
  top: 73.2px;
  left: 9.7em;
  font-size: 16px;
  color: #106DB3;
  text-decoration: none;
  font-weight: 400;
  margin-right: 5em;
}

.socialMedia a {
  text-decoration: none;
  position: relative;
  top: 55px;
  left: 8.1em;
  color: #A3B3BF;
  padding: 0 6px;
  font-size: 12.5px;
}

#twitter, #facebook {
  border-right: 1px solid #A3B3BF;
}

.socialMedia a:hover {
  color: #106DB3;
  font-weight: bolder;
}

#adPhoto {
  position: relative;
  top: 107px;
  left: 3.9em;
}

.ad a {
  position: relative;
  top: 105px;
  left: 19.8em;
  font-size: 13px;
  color: #A3B3BF;
  &:hover {
    color: #106DB3;
    font-weight: bolder;
  }
}

#sideTitle {
  position: relative;
  top: 130px;
  left: 3.4em;
  font-size: 18px;
  font-family: "Oswald";
  color: #106DB3;
}

.sideBar p {
  position: relative;
  top: 116px;
  left: 3.8em;
  padding-right: 5em;
}

footer {
  float: left;
  width: 100%;
  height: 300px;
  position: relative;
  bottom: 92px;
  border-top: 1px solid #E1E7EA;
  > p {
    font-family: "Oswald", sans-serif;
    font-size: 63px;
    color: #083452;
    font-weight: 400;
    position: relative;
    bottom: 40px;
    left: 6.8em;
  }
}

.articleImages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.posts {
  width: 100%;
  li {
    width: 25%;
    display: inline-block;
    float: left;
    background-color: #106DB3;
    position: relative;
    bottom: 72px;
    right: 40px;
    p {
      color: #083452;
      position: absolute;
      top: 251px;
      left: 0.7em;
      font-family: "Oswald";
      font-size: 29px;
      cursor: pointer;
    }
  }
  img {
    clear: left;
    width: 100%;
    float: left;
    opacity: .4;
  }
  li:hover {
    background: none;
    transition: 1s ease all;
  }
  img:hover {
    opacity: .8;
  }
  li:hover p {
    color: #fff;
  }
}

#zack {
  word-break: normal;
  position: absolute;
  top: 7em;
  left: 0.7em;
  font-family: "Oswald";
  font-size: 29px;
}

.footBar {
  float: left;
  width: 100%;
  height: 97px;
  display: inline-block;
  background-color: #083452;
  position: relative;
  bottom: 72px;
}

#ironyard {
  position: relative;
  top: 27px;
  left: 164px;
  &:hover {
    transform: scale(1.1);
  }
}

.footBar > p {
  position: relative;
  bottom: 16px;
  margin-left: 16em;
  font-size: 13.8px;
  font-weight: 200;
  color: #A3B3BF;
}

.nav {
  position: relative;
  bottom: 48px;
  right: 165.5px;
  float: right;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  a {
    color: #A3B3BF;
    text-decoration: none;
  }
}

.navLink {
  border-right: 1px solid #D3D3D3;
  padding-left: 5px;
  padding-right: 5px;
  &:last-child {
    border-right: none;
    padding-left: 5px;
  }
}
