* {
  font-family: "Open Sans";
}

a {
  color: #A9B8C3;
}

a:hover {
  font-weight: bold;
  color: #083451;
}

.pageTitle {
  background-image: url(header.jpg);
  width: 92%;
  height: 529px;
  margin-left: 3em;
  margin-top: -1em;
}

.menuBar {
  padding-left: 12%;
}
.menuBar > a img {
  position: relative;
  top: 16px;
  left: -.7em;
}
.blog a {
  position: relative;
  left: 3em;
  bottom: 44px;
  font-size: 16px;
  word-spacing: -0.8px;
  text-decoration: none;
  color: #083451;
  font-weight: lighter;
}

.menuBar a:hover {
  color: white;
  font-weight: bolder;
}

span a:hover {
  color: white;
  font-weight: bolder;
}

.menuBar > a {
  color: #083451;
  text-decoration: none;
  padding-top: 20px;
}

span {
  position: relative;
  float:right;
  right: 8.9em;
  bottom: 93px;
  font-size: 18px;
}
span a img {
  padding-left: .3em;
}
span > a {
  color:#083451;
  text-decoration: none;
  font-family: "Oswald";
  padding-right: .5em;
}


#title {
  position: relative;
  left: 2em;
  top: 42px;
  font-weight:lighter;
  font-size: 98px;
  color: white;
  font-weight: 500;
}

#subTitle {
  position: relative;
  text-align: center;
  bottom: 40px;
  font-size: 14px;
  color: #083451;
  font-weight: 700;
  word-spacing: 1px;
}

main {
  position: relative;
  float: left;
  width:60%;
  height: 1100px;
  margin: 5px 0 5px 3em;
}
.articleTitle {
  background: none;
}
#fantastic {
  position: relative;
  left: 2.7em;
  top: 8px;
  font-family: "Oswald", sans-serif;
  font-weight:normal;
  font-size: 62px;
  color: #083452;
  padding-right: 1em;
  line-height: 70px;
  word-spacing: 4px;
}

article img {
  width: 2.5%;
  position: relative;
  left: 10.8em;
  bottom:37px;
}

#name {
  position: relative;
  left: 14.9em;
  bottom: 41px;
  font-size: 12px;
  text-decoration: none;
  color: #106DB3;
}

.articleTitle > span {
  font-size: 13px;
  position: relative;
  right: 42.4em;
  bottom: 32.7px;
  color:#BAC6CF;
}

#date {
  position: relative;
  font-size: 13.3px;
  left: 15.8em;
  bottom: 39.7px;
  color: #BAC6CF;
  word-spacing: 1px;
}

#date:hover {
  color: #083451;
  font-weight: bolder;
}

article p {
  margin-top: -7px;
  padding-left: 10.6em;
  padding-right: 4em;
  line-height: 26px;
}

blockquote {
  border-left: 2px solid #ccc;
  margin-left: 10.9em;
  margin-top: 52px;
}

blockquote h1 {
  font-size: 28px;
  font-weight: 400;
  color: #106DB3;
  position: relative;
  padding-left: .7em;
  padding-top: 7px;
  padding-bottom: 7px;
  word-spacing: -7px;
}

.share {
  list-style-type: none;
  margin-left: 8.3em;
  padding-top: 4px;
}

.share li {
  display: inline;
}
 .share li img {
   background-color: #5E686F;
   border:1px solid #5E686F;
 }

.share li a {
    text-decoration: none;
    background-color: #A3B3BF;
    color: white;
    font-size: 12.5px;
    font-weight: lighter;
    padding: 6.2px 13px 5px 12px;
    margin-right: 1.1em;
    border: 1px solid #A3B3BF;
}

.share li a:hover {
  background-color: #106DB3;
  border: 1px solid #106DB3;
}

.share li img:hover {
  background-color: #083452;
  border: 1px solid #083452;
}

#comments img {
  position:relative;
  top: 9.3px;
  padding: 6.3px;
  right: -1px;
}

#upload img {
  position: relative;
  top: 9.3px;
  padding:7.6px;
  right: -1px;
}

#share img {
  position: relative;
  top: 9.3px;
  padding: 7.3px;
}

.sideBar {
  width: 25%;
  float: left;
  height:100%;
  min-height: 100%
}

#sidebarAvatar {
  width 25%;
  position: relative;
  left: 7em;
  top: 85px;
}

#sidebarAvatar:hover {
  transform: scale(1.1);
}

.sideBar h3 {
  position: relative;
  top: 73.2px;
  left: 6.7em;
  font-size: 16px;
  color:  #106DB3;
  text-decoration: none;
  font-weight: 400;
}

.socialMedia {
  position relative;
}

.socialMedia a {
  text-decoration: none;
  position: relative;
  top: 55px;
  left: 4.3em;
  color: #A3B3BF;
  padding: 0 6px;
  font-size: 12.5px;
}

#twitter {
  border-right: 1px solid #A3B3BF;
}

#facebook {
  border-right: 1px solid #A3B3BF;
}

.socialMedia a:hover {
color:  #106DB3;
font-weight: bolder;
}

#adPhoto {
  position: relative;
  top: 105px;
  left: 1em;
}

#adPhoto:hover {
    transform: scale(1.1);
}

.ad a {
  position:relative;
  top: 104px;
  left: 16.1em;
  font-size: 13px;
  color: #A3B3BF;
}

.ad a:hover{
color: #106DB3;
font-weight: bolder;
}

#sideTitle {
  position:relative;
  top: 130px;
  left: 0.8em;
  font-size: 18px;
  font-family: "Oswald";
  color:#106DB3;
}


 .sideBar p {
  position: relative;
  top: 116px;
  left: 1em;
  padding-right: 4em;
}

footer {
  float: left;
  width: 92%;
  height: 300px;
  position: relative;
  bottom: 102px;
  margin-left: 3.4em;
  border-top: 1px solid #E1E7EA;
}

footer h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 63px;
  color:#083452;
  font-weight: 400;
  position: relative;
  bottom: 18px;
}

.posts {
  width: 100%;
}
.articleImages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.posts li {
  display:inline-block;
  float: left;
  background-color:  #106DB3;
  opacity: .9;
  position: relative;
  top: -31px;
  right: 40px;
}

.posts img {
  float: left;
  opacity: .4;
}

.posts li:hover {
  background: none;
  opacity:1;
}

#surfer, #beer, #liquor {
  position: absolute;
  top: 260px;
  left: 0.7em;
  color: #083452;
  font-size: 26px;
  font-weight:600;
}

#zack {
  word-break: normal;
  position: absolute;
  top: 220px;
  left: 0.7em;
  color: #083452;
  font-size: 26px;
  font-weight: 600;
}

#surfer:hover, #beer:hover, #zack:hover,#liquor:hover {
    color: white;
}
.footBar {
  float: left;
  width: 99.5%;
  height: 97px;
  display: inline-block;
  background-color: #083452;
  position: relative;
  bottom: 31px;
}

#ironyard {
  position: relative;
  top: 27px;
  left: 164px;
}
.footBar > p {
  position:relative;
  top: -16px;
padding-left: 16em;
  font-size: 13.8px;
  font-weight: 200;
  color: #A3B3BF;
}

.nav {
  position:relative;
  bottom: 48px;
  right: 165.5px;
  float: right;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
}

.nav a {
    color: #A3B3BF;
    text-decoration: none;
    font-size:
}
.nav a:hover {
  color: white;
  font-weight: bolder;
}
.navLink {
  border-right: 1px solid grey;
  padding-left: 5px;
  padding-right: 5px;
}

#navLink5 {
  padding-left: 5px;
}
